/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@300&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

/* Setting this class to all sections as default, showing its content vertically */
.flexContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5px;
	margin-bottom: 5px;
}

header h1, h2, h3 {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	text-align: center;
}
.flexContainer > h2 {
	font-size: 0.9rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h3 {
	margin: 0.3rem auto;
}

.removed {
	display: none;
}

.not-visible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

#messageArea {
	width: 100%;
	font-size: 0.9rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: lightgray;
	border-radius: 50%;
}

.game .scoreArea {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 1.0rem;
	width: 100%;
}
#yourCount {
	color: green;
}

#computerCount {
	color: red;
}

ul h4 {
	margin: 7px 10px;
}

/* Default distance from left-right margins for all main containers*/
.flexContainer > div {
	width: 70%;
}

/* Showing children of the game container vertically */
.flexContainer .game {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
}

/* Setting equal speace between children of the gameArea container */
.flexContainer .gameArea {
	height: 90%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 0.7rem;
}

/* The 'VS' middle content */
.gameArea .area:nth-child(2){
	font-size: 1.8rem;
}

/* Players' areas - the style declared here and related breakpoints affect images positioning*/
.flexContainer .area {
	display: flex;
	height: 90%;
	width: auto;
	justify-content: center;
	align-items: center;
}

/* Setting Responsivness of images */
.area img {
	height: 80%;
	width: 80%;
}

/* Setting the layout for the commands area, namely, the one containing buttons; */
/* Distancing them equally */
.flexContainer .commands {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	margin-top: 15px;
	margin-bottom: 5px;
}

/* Default style of game buttons */
.commandButton {
	width: 12%;
  background: #AD0600;
  border: 1px solid #AD0600;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: nunito,roboto,sans-serif;
  font-size: 1rem;
  text-align: center;
  text-rendering: geometricprecision;
  touch-action: manipulation;
}

/* lvha effects on buttons */
.commandButton:hover,
.commandButton:active {
  background-color: initial;
  background-position: 0 0;
  color: #AD0600;
}

/* lvha effects on buttons */
.commandButton:active {
  opacity: .5;
}

/* Applying default style to imgs inside game buttons */
.commands svg {
	margin-top: 4px;
}

.flexContainer .instructions {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 1.3rem;
	margin-top: 1.1rem;
}

.instructionsArea {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.instructionsArea img {
	width: 80%;
}

.instructionsArea ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

/*User-friendly area containing all interactions*/
.difficulty {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 85%;
}

.difficultyArea {
	display: flex;
	width: 40%;
	align-items: center;
	justify-content: space-around;
}

.difficulty .difficultyArea:nth-child(2) {
	flex-direction: column;
	
}

.difficultyArea #notes {
	text-align: center;
	font-size: 0.8rem;
}

.difficultyArea > div {
	width: 95%;
}

.easyMediumHard, .bestOf {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 4px auto;
}

.difficultyButtons {
	background: #FAEEE7;
  border: 1px solid #FAEEE7;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #325288;
  cursor: pointer;
  font-family: nunito,roboto,sans-serif;
  text-align: center;
  text-rendering: geometricprecision;
  touch-action: manipulation;
}

/* lvha effects on buttons */
.difficultyButtons:hover,
.difficultyButtons:active {
  background-color: #fff;
  background-position: 0 0;
  color: #325288;
}

.bestOfButtons {
	background: #325288;
  border: 1px solid #325288;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FAEEE7;
  cursor: pointer;
  font-family: nunito,roboto,sans-serif;
  text-align: center;
  text-rendering: geometricprecision;
  touch-action: manipulation;
}

/* lvha effects on buttons */
.bestOfButtons:hover,
.bestOfButtons:active {
  background-color: initial;
  background-position: 0 0;
  color: #325288;
}

#notes span {
	font-weight: bold;
}

#selectedDifficulty {
	text-transform: capitalize;
}

#selectedBestOf, #selectedDifficulty {
	color: #325288;
}

button:disabled {
	border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
	border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
	cursor: pointer;
  font-family: nunito,roboto,sans-serif;
  text-align: center;
  text-rendering: geometricprecision;
  touch-action: manipulation;
}

/* Bullet points for the lists/instructions */
#scissors li::before {
	content: '';
	width: 1rem;
	height: 1rem;
	display: inline-block;
	background: url('../images/choices/Scissors.svg') no-repeat bottom center;
	margin-bottom: -2px;
	margin-right: 4px;
}
#paper li::before {
	content: '';
	width: 1rem;
	height: 1rem;
	display: inline-block;
	background: url('../images/choices/Paper.svg') no-repeat bottom center;
	margin-bottom: -2px;
	margin-right: 4px;
}
#rock li::before {
	content: '';
	width: 1rem;
	height: 1rem;
	display: inline-block;
	background: url('../images/choices/Rock.svg') no-repeat bottom center;
	margin-bottom: -2px;
	margin-right: 4px;
}
#spock li::before {
	content: '';
	width: 1rem;
	height: 1rem;
	display: inline-block;
	background: url('../images/choices/Spock.svg') no-repeat bottom center;
	margin-bottom: -2px;
	margin-right: 4px;
}
#lizard li::before {
	content: '';
	width: 1rem;
	height: 1rem;
	display: inline-block;
	background: url('../images/choices/Lizard.svg') no-repeat bottom center;
	margin-bottom: -2px;
	margin-right: 4px;
}

/* Breakpoints */
@media (max-width: 992px) {
	.commandButton {
		font-size: 0.8rem;
	}

	.label {
		display: none; 
	}
}

@media (max-width: 768px) {

	.flexContainer > div, .instructionsArea, .difficultyArea, .instructionsArea > ul {
		width: 100%;
	}
	
	.instructionsArea > ul{
		text-align: center;
	}
	
	.commandButton {
		font-size: 0.6rem;
	}

	.game .scoreArea {
		flex-direction: column;
		width: 100%;
	}

	.difficulty {
		flex-direction: column;
		width: 50%;
	}

	.area img {
		height: 60%;
		width: 60%;
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
	}

	.scoreArea h2{
		width: 100%
	}
	
	.flexContainer .instructions {
		display: flex;
		flex-direction: column;
		padding-bottom: 1.3rem;
		width: 100%;
	}
}

@media (max-width: 630px) {
	
	.commandButton {
		min-width: 2.0rem;
	}

	.difficulty {
		width: 70%;
	}
}