/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@300&display=swap');

body,
h1, 
h2 {
	margin: 0;
}

/* Collecting all selectors sharing common features as follows */

/* All flexboxes */
.flexContainer, 
.game .scoreArea, 
.picks, 
.game, 
.gameArea, 
.area, 
.commands, 
.instructions, 
.instructionsArea, 
.difficulty, 
.difficultyArea, 
.easyMediumHard, 
.bestOf, 
.newGame {
	display: flex;
}

/* Responsive width */
.game .scoreArea, 
.picks,
.gameArea,
.commands,
.difficulty {
	width: 100%;
}

.commandButton,
.commands button:disabled {
	width: 12%;
}

/* Flexbox: alignment */
.flexContainer,
.game,
.difficultyArea:nth-child(2) {
	flex-direction: column;
}

.flexContainer,
.game,
.area,
.instructions,
.instructionsArea {
	justify-content: center;
	align-items: center;
}

.scoreArea, 
.picks,
.gameArea,
.commands,
.difficulty,
.difficultyArea,
.easyMediumHard, 
.bestOf, 
.newGame {
	justify-content: space-around;
	align-items: center;
}

/* font */
h1, 
h2,
.commandButton,
.difficultyButtons,
.bestOfButtons,
.newGameButton,
button:disabled,
.commands button:disabled {
	font-family: 'Nunito', sans-serif;
}

body,
.flexContainer > h2,
#messageArea, 
#userPick, 
#computerPick {
	font-family: 'Roboto', sans-serif;
}

.flexContainer > h2,
#messageArea, 
#userPick, 
#computerPick {
	font-weight: 300; 
}

/* Buttons */
.commandButton,
.commands button:disabled {
	font-size: 1rem;
}

.commandButton,
.commands button:disabled,
.difficultyButtons,
.bestOfButtons,
.newGameButton,
button:disabled {
	border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
	cursor: pointer;
  text-rendering: geometricprecision;
  touch-action: manipulation;
}

.difficultyButtons,
.newGameButton {
	background: #FAEEE7;
}

.difficultyButtons,
.newGameButton {
	border: 1px solid #FAEEE7;
}

.difficultyButtons,
.difficultyButtons:hover,
.difficultyButtons:active,
.bestOfButtons:hover,
.bestOfButtons:active,
.newGameButton,
.newGameButton:hover,
.newGameButton:active,
#selectedBestOf, 
#selectedDifficulty {
	color: #325288;
}

.difficultyButtons:hover,
.difficultyButtons:active,
.newGameButton:hover,
.newGameButton:active {
  background-color: #fff;
}

.bestOfButtons:hover,
.bestOfButtons:active,
.commandButton:hover,
.commandButton:active {
  background-color: initial;
}

/* centered text */
h1, 
h2,
button:disabled,
.commandButton,
.commands button:disabled,
.difficultyButtons,
.bestOfButtons,
.newGameButton,
.picksArea,
#notes
{
	text-align: center;
}

/* font-size */
.difficultyButtons,
.bestOfButtons,
.newGameButton,
button:disabled {
	font-size: 0.8rem;
}

/* margins */
.game > div {
	margin: 0.9rem auto;
}

.flexContainer > h2,
#notes {
	font-size: 1rem;
}

/* Setting this class to all sections as default */
.flexContainer {
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	margin: 0.3rem auto;
}

.removed {
	display: none;
}

.not-visible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

#messageArea, #userPick, #computerPick {
	font-size: 1.1rem;
}

#userPick, 
#computerPick,
#notes span {
	font-weight: bold;
}

#userPick {
	padding-left: 10%;
}

#computerPick{
	padding-right: 10%;
}

#yourCount {
	color: green;
}

#computerCount {
	color: red;
}

ul h4 {
	margin: 7px 10px;
}

/* Default distance from left-right margins for all main containers*/
.flexContainer > div {
	width: 70%;
}

/* Showing children of the game container vertically */
.game {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
}

/* Setting equal speace between children of the gameArea container */
.gameArea {
	height: 90%;
}

/* The 'VS' middle content */
.area:nth-child(2){
	font-size: 1.8rem;
}

/* Players' areas - the style declared here and related breakpoints affect images positioning*/
.area {
	height: 90%;
	width: auto;
}

/* Setting Responsivness of images */
.area img {
	height: 80%;
}

.instructionsArea img,
.area img {
	width: 80%;
}

/* Setting the layout for the commands area, namely, the one containing buttons; */
/* Distancing them equally */
.commands {
	height: 10%;
}

/* Default style of game buttons */
.commandButton {
  background: #AD0600;
  border: 1px solid #AD0600;
  color: #FFFFFF;
}

/* lvha effects on buttons */
.commandButton:hover,
.commandButton:active {
	color: #AD0600;
}

/* lvha effects on buttons */
.commandButton:active {
  opacity: .5;
}

/* Applying default style to imgs inside game buttons */
.commands svg {
	margin-top: 4px;
}

.flexContainer .instructions {
	padding-bottom: 1.3rem;
	margin-top: 1.1rem;
}

.instructionsArea {
	width: 50%;
	display: flex; 
	flex-direction: column;
}

.instructionsArea ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.picksArea:nth-child(1), .picksArea:nth-child(3){
	width: 38%;
} 

.picksArea:nth-child(2){
	width: 20%;
}

.difficultyArea {
	width: 40%;
}

.difficultyArea > div {
	width: 95%;
}

.easyMediumHard, 
.bestOf, 
.newGame {
	margin: 4px auto;
}

#easy,
#medium, 
#hard {
	width: 30%;
}

.bestOfButtons {
	background: #325288;
  border: 1px solid #325288;
  color: #FAEEE7;
}

[id='3'], 
[id='5'] {
	width: 47%;
}

#newGameButton {
	width: 97%;
}

#selectedDifficulty {
	text-transform: capitalize;
}

button:disabled {
	border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* Bullet points for the lists/instructions */

#scissors li::before,
#paper li::before,
#rock li::before,
#spock li::before,
#lizard li::before {
	content: '';
	width: 1rem;
	height: 1rem;
	display: inline-block;
	margin-bottom: -2px;
	margin-right: 4px;
}

#scissors li::before {
	background: url('../images/choices/scissors.svg') no-repeat bottom center;
}

#paper li::before {
	background: url('../images/choices/paper.svg') no-repeat bottom center;
}

#rock li::before {
	background: url('../images/choices/rock.svg') no-repeat bottom center;
}

#spock li::before {
	background: url('../images/choices/spock.svg') no-repeat bottom center;
}

#lizard li::before {
	background: url('../images/choices/lizard.svg') no-repeat bottom center;
}

/* Footer section starts here */

footer {
	text-align: center;
}

.social-networks li {
	display: inline;
	list-style-type: none;
	margin: 0 15px;
}

footer p {
	font-size: 0.5rem;
}

/* Breakpoints */
@media (max-width: 992px) {
	.commandButton {
		font-size: 0.8rem;
	}

	.label {
		display: none; 
	}
}

@media (max-width: 768px) {

	.flexContainer > div, 
	.instructionsArea, 
	.difficultyArea, 
	.instructionsArea > ul,
	.scoreArea,
	.scoreArea h2,
	.instructions {
		width: 100%;
	}
	
	.instructionsArea > ul{
		text-align: center;
	}
	
	.commandButton {
		font-size: 0.6rem;
	}

	.scoreArea,
	.difficulty,
	.instructions {
		flex-direction: column;
	}

	.difficulty {
		width: 50%;
	}

	.area img {
		height: 60%;
		width: 60%;
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
	}
	
	.instructions {
		padding-bottom: 1.3rem;
	}

	.picks{
		align-items: flex-start;
	}
}

@media (max-width: 630px) {
	
	.commandButton,
	.commands button:disabled {
		min-width: 2.0rem;
		width: 19%;
	}

	.difficulty {
		width: 70%;
	}
}